<h1>Graphs</h1>

<form method="GET">
  <label for="chart">Chart:</label>
  <select name="chart">
    <% x = 0 %> 
    <% controller.chart_infos.each do |chart| %>
      <option value="<%= x %>"><%= sprintf( "%s - %s", chart.table, chart.name ) %></option>
      <% x +=1 %>  
    <% end %>
  </select>
  <input type="submit" /> 
</form>

<%= high_stock("chart_div", controller.get_chart( params[:chart] ) ) %>