<h1>Graphs</h1>
<%= high_chart("chart_roe_div", controller.get_chart_roe) %>
<%= high_chart("chart_portfolio_div", controller.get_chart_portfolio) %>
<%= high_chart("chart_managed_div", controller.get_chart_managed) %>
